<% cat.forEach(function(item) { %>

<form action="/doCatEdit/<%= item.id %> " method="post" class="form-horizontal">
  <!-- Form Name -->
  <legend style="margin-left: 5px">Chỉnh sửa danh mục</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label">Tên danh mục</label>
    <div class="col-md-4">
      <input
        value="<%= item.category_name %>"
        name="cat_name"
        placeholder="Nhập tên danh mục"
        class="form-control input-md"
        type="text"
      />
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label">Parent</label>
    <div class="col-md-4">
      <select name="parent" class="form-control">
        <% categories.forEach(function(catItem) { if(catItem.id == item.parent)
        { %>
        <option value="<%= catItem.id %>" selected>
          <%= catItem.category_name %>
        </option>
        <% }else { %>
        <option value="<%= catItem.id %>"><%= catItem.category_name %></option>
        <% }}) %>
      </select>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label">Trạng thái</label>
    <div class="col-md-4">
      <select name="status" class="form-control">
        <% if(item.status == 1){ %>
        <option selected>1</option>
        ;
        <option>0</option>
        <% } else { %>
        <option>1</option>
        ;
        <option selected>0</option>
        <% } %>
      </select>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <div class="col-md-4">
      <button type="submit" class="btn btn-default">Lưu</button>
    </div>
  </div>
</form>
<% }) %>
